/*Stylesheet Renaissance project*/

/*Indragen css-kod innebär att grejerna tillhör diven ovan*/


*, *:before, *:after{
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing:border-box;
box-sizing: border-box;
}

body{
font-size: 16px;
font-family: 'Raleway', sans-serif;

}


@import url(https://fonts.googleapis.com/css?family=Raleway);


@font-face {
  font-family: florentinaregular;
  src: url(../fonts/florentia.regular.ttf);       /* all of the fonts */
}

@font-face {
  font-family: humanisticmedium;
  src: url(../fonts/humanistic.medium.ttf);
}

@font-face {
  font-family: proximanova;
  src: url(../fonts/proximanova.ttf);
}

@font-face {
  font-family: bookerly;
  src: url(../fonts/bookerly.ttf);
}

@font-face {
  font-family: LiterataBook;
  src: url(../fonts/LiterataBook.otf);
}


#headerdiv{
    height:12vh;
    width:100%;
    background-color: white;
}


            #headerdiv h1{
                  text-align: left;
                  font-family: humanisticmedium;
                  font-size: 55px;

            }




#navdiv{
    height:7.5vh;
    width:100%;
    background-color: darkred;
    position: absolute;
    font-family: LiterataBook;
}

        #navmenu{ /*Detta är menyn*/
            height:6vh;
            width: 49vw;
            float: left;
            padding-top: 1.5vh;
            padding-left: 1.5vw;
            background-color: darkred;
          }

          #navmenu a{ /*här stylar vi endast menyen i sideabar one-diven*/ /*Bakgrundsfärgen för menyen. helst lik hemsidans färg*/
              color: white;
              text-decoration: none; /*ingen underlining*/
              margin-right: 1.5vw;
              font-size: 16px;
          }

          #navmenu a:hover{
              color: black;
          }


#maindiv{ /*Bakgrunden skall vara en bild*/
    height:115vh;
    width:100%;
    background-image: url('../img/possback.jpg');
    background-size: cover;
}

  #maindiv img{
      height: 100%;
      width:100%;
  }




            .container{
              float: left;
              width: 50%;
              margin-left: 8.6vw;
              margin-right: 11.12vw;
              margin-top: 16vh;
              margin-bottom: 1vh;
            }

            @media screen and (max-width: 300px){
              .container{
              display: block;
              width: 100%;
              }
            }

            @media screen and (min-width: 300px){
              .container{
                width: 30%;
              }
            }



              .div {
                position: relative;
                width: 100%;
                max-width: 300px;
                margin: auto;
                overflow: hidden;
                border-top: 2px solid rgba(250,250,210, 0.5);
                border-left:2px solid rgba(250,250,210, 0.5);
                border-right:2px solid rgba(250,250,210, 0.5);
                box-shadow: 1px 1px 6px 5px rgba(255,250,210,0.3);
              }

              .div h3{
                color: white;
                background-color:rgba(139,0,0);
                font-size: 22px;
                position: absolute;
                margin-left: 8.5vw;
                margin-top: 6vh;
                font-family: LiterataBook;
                font-weight: 200;
                letter-spacing: 1px;
              }

              .div .div-overlay {
                background: rgba(72,2,2);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
              }

              .div:hover .div-overlay{
                opacity: 0.7;
              }

              .div-image{
                width: 100%;
                height: 100%;
              }

              .div-details {
                position: absolute;
                text-align: center;
                width: 100%;
                top: 50%;
                left: 50%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }

              .div:hover .div-details{
                top: 50%;
                left: 50%;
                opacity: 1;
              }

              .div-details p{
                color: white;
                font-size: 14px;
                font-weight: lighter;
                letter-spacing: 2px;
                margin-bottom: 4vh;
                font-family: LiterataBook;
              }

              .div-details a{
                color:black;
                background-color: white;
                font-size: 16px;
                font-weight: bold;
                text-decoration: none;
                font-family: LiterataBook;

              }

              .fadeIn-bottom{
                top: 80%;
              }

              .fadeIn-top{
                top: 20%;
              }

              .fadeIn-left{
                left: 20%;
              }

              .fadeIn-right{
                left: 80%;
              }


/*grouparticle div*/
              .groupcontainer{
                float: left;
                width: 50%;
                margin-left: 33.1vw;
                margin-top: 40vh;
                position: absolute;
              }

              @media screen and (max-width: 300px){
                .groupcontainer{
                display: block;
                width: 100%;
                }
              }

              @media screen and (min-width: 300px){
                .groupcontainer{
                  width: 30%;
                }
              }

                .groupdiv {
                  position: relative;
                  width: 100%;
                  max-width: 290px;
                  margin: auto;
                  overflow: hidden;
                  border-top: 2px solid rgba(250,250,210, 0.5);
                  border-left:2px solid rgba(250,250,210, 0.5);
                  border-right:2px solid rgba(250,250,210, 0.5);
                  box-shadow: 1px 1px 6px 5px rgba(255,250,210,0.4);
                }

                .groupdiv h3{
                  color: white;
                  background-color:rgba(139,0,0);
                  font-size: 22px;
                  margin-left: 8.5vw;
                  margin-top: 7vh;
                  position: absolute;
                  font-family: LiterataBook;
                  font-weight: 200;
                  letter-spacing: 1px;
                }

                .groupdiv .groupdiv-overlay {
                  background: rgba(72,2,2);
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  left: 0;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  opacity: 0;
                  -webkit-transition: all 0.4s ease-in-out 0s;
                  -moz-transition: all 0.4s ease-in-out 0s;
                  transition: all 0.4s ease-in-out 0s;
                }

                .groupdiv:hover .groupdiv-overlay{
                  opacity: 0.7;
                }

                .groupdiv-image{
                  width: 100%;
                }

                .groupdiv-details {
                  position: absolute;
                  text-align: center;
                  width: 100%;
                  top: 50%;
                  left: 50%;
                  opacity: 0;
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  -webkit-transition: all 0.3s ease-in-out 0s;
                  -moz-transition: all 0.3s ease-in-out 0s;
                  transition: all 0.3s ease-in-out 0s;
                }

                .groupdiv:hover .groupdiv-details{
                  top: 50%;
                  left: 50%;
                  opacity: 1;
                }

                .groupdiv-details p{
                  color: white;
                  font-size: 14px;
                  font-weight: lighter;
                  letter-spacing: 2px;
                  margin-bottom: 1.5vh;
                  font-family: LiterataBook;
                }

                .groupdiv-details a{
                  color:black;
                  background-color: white;
                  font-size: 15px;
                  font-weight: bold;
                  text-decoration: none;
                  font-family: LiterataBook;

                }

                .fadeIn-bottom{
                  top: 80%;
                }

                .fadeIn-top{
                  top: 20%;
                }

                .fadeIn-left{
                  left: 20%;
                }

                .fadeIn-right{
                  left: 80%;
                }
