
  *{
    margin:0;
    padding:0;
    }

  @font-face {
    font-family: florentinaregular;
    src: url(florentia.regular.ttf);
  }

  @font-face {
    font-family: humanisticmedium;
    src: url(humanistic.medium.ttf);
  }

  @font-face {
    font-family: proximanova;
    src: url(proximanova.ttf);
  }

  @font-face {
    font-family: bookerly;
    src: url(bookerly.ttf);
  }

  @font-face {
    font-family: LiterataBook;
    src: url(LiterataBook.otf);
  }

  #headerdiv{
  height:12vh;
  width:100vw;
  text-align: center;
  font-family: humanisticmedium;
  font-size: 35px;
  }
  #navdiv{
  height:7.5vh;
  width:100vw;
  background-color: darkred;
  position: absolute;
  }

    #navmenu{ /*Detta är menyn*/
    height:8vh;
    width: 25vw;
    float: left;
    text-align: center;
    padding-top: 1.5vh;
  }

  #navmenu a{ /*här stylar vi endast menyen i sideabar one-diven*/
      background-color: darkred; /*Bakgrundsfärgen för menyen. helst lik hemsidans färg*/
      color: white;
      text-decoration: none; /*ingen underlining*/
  }
  #text{
    text-align: left;
  }
  #text h3{
    text-align: center;
  }
  #text h1{
    text-align: center;
  }
  #background{
    background-image: url(Renaissance2019/img/possback.jpg);
    height: 174vh;
    width: 100vw;
  }
  .transbox{
  background-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  width: 38vw;
  height: 157vh;
  margin-left: 26vw;
  margin-right: 26vw;
  margin-top:12vh;
  padding-left: 5vw;
  padding-right: 5vw;
  position: absolute;
  font-family: LiterataBook;

}
#hett{
  font-size: 23px;
}
