/*Stylesheet Renaissance project*/

/*Indragen css-kod innebär att grejerna tillhör diven ovan*/

*{
  margin:0;
  padding:0;
}

#headerdiv{
    height:10vh;
    width:100%;
    background-color: white;
}


            #headerdiv h1{
                  margin-top: 2vh;
                  margin-left: 1vw;
                  font-family: serif;
                  font-weight: bold;
                  font-size: 36px;

            }




#navdiv{
    height:7.5vh;
    width:100%;
    background-color: darkred;
}

        #navmenu{ /*Detta är menyn*/
            height:6vh;
            width: 49vw;
            float: left;
            padding-top: 1.5vh;
            padding-left: 1.5vw;
            background-color: darkred;
          }

          #navmenu a{ /*här stylar vi endast menyen i sideabar one-diven*/ /*Bakgrundsfärgen för menyen. helst lik hemsidans färg*/
              color: white;
              text-decoration: none; /*ingen underlining*/
              margin-right: 1.5vw;
          }

          #navmenu a:hover{
              color: black;
          }



          #maindiv{ /*Bakgrunden ska vara en bild som beskriver renässansen*/
            height:175vh;
            width:92vw;
            padding-left: 8vw;
            background-image: url(https://github.com/Moamel9000/Renaissance-project/blob/master/Renaissance2019/img/possback.jpg?raw=true);
            background-repeat: space;
        }

        #history{ /* Text fönstret ska vara genomskinligt, så att man kan se bakgrundsbilden */
         height: 160vh;
         width: 75vw;
        background-color: #ffffff;
        opacity: 0.75;
        filter: alpha(opacity=60);
        position: absolute;
        margin-left: 3vw;
        margin-top: 5vh;
        padding-right:1.5vw;
        padding-left: 1.5vw;
        padding-top: 3.5vh;
        font-family: cursive;
        border-radius: 25px;
        border: 2px solid #000000;


        }
